<h2>List of student payments: </h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr align="center">
              <!-- <th><i class="fas fa-cog"></i></th> -->
              <th>Description</th>
              <th>Date</th>
              <th>Amount</th>
          </tr> 
        </thead>
        <tbody *ngFor="let x of studentPayments">
          <tr align="center">
              <!-- <td>
                  <button type="button" class="btn"><i class="far fa-edit"></i></button>
                  <button type="button" (click)="deletePayment(x.id)" class="btn"><i class="far fa-trash-alt"></i></button>
              </td> -->
              <td>{{x.description}}</td>
              <td>{{x.date | formatDate}}</td>
              <td>{{x.amount}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <button type="button" class="btn btn-success" style="float: left" (click)="toggleAddForm()">Add Payment</button>
          <ul class="pagination justify-content-end" style="margin:20px 0">
              <li *ngIf="isFirst === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page - 1)">Previous</span></li>
              
              <li *ngFor="let number of totalPageNumber" class="page-item" [ngClass]="{'page-item active' : number==page }">
                  <span class="page-link" (click)="paginationUpdate(number)">{{number}}</span>
              </li>
             
              <li *ngIf="isLast === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page + 1)">Next</span></li>
          </ul>
      </div>
      <app-add-payment *ngIf="showAddForm"></app-add-payment>
    </div>
  </div>
</div>