<h2>List of active teachers: </h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <div class="card">
      <div class="card-body">
      <table class="table table-bordered table-hover" id="teacher-table">
        <thead class="thead-light">
          <tr align="center">
              <th><i class="fas fa-cog"></i></th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Teacher code</th>
              <th>Teacher type</th>
          </tr> 
        </thead>
        <tbody *ngFor="let teacher of teachers">
          <tr align="center" id="tr_{{teacher.id}}">
              <td>
                  <button type="button" (click)="editTeacher(teacher)" class="btn"><i class="far fa-edit"></i></button>
                  <button type="button" (click)="deleteTeacher(teacher.id)" class="btn"><i class="far fa-trash-alt"></i></button>
              </td>
              <td>{{teacher.firstname}}</td>
              <td>{{teacher.lastname}}</td>
              <td>{{teacher.email}}</td>
              <td>{{teacher.teacherCode}}</td>
              <td>{{teacher.teacherType}}</td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="card-footer">
      <div>
         
          <ul class="pagination justify-content-end" style="margin:20px 0">
              <li *ngIf="isFirst === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page - 1)">Previous</span></li>
              
              <li *ngFor="let number of totalPageNumber" class="page-item" [ngClass]="{'page-item active' : number==page }">
                  <span class="page-link" (click)="paginationUpdate(number)">{{number}}</span>
              </li>
             
              <li *ngIf="isLast === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page + 1)">Next</span></li>
          </ul>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>
<br>
<br>