<div class="col-sm">
  <br>
 <div class="container">
   <h2>{{registeredExams.examinationPeriod}}</h2>
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr align="center">
          <th>Subject code</th>
          <th>Subject name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Class room</th>
          <th>Teacher</th>
      </tr> 
    </thead>
    <tbody *ngFor="let exam of registeredExams.subjects">
      <tr align="center">
          <td>{{exam.subjectCode}}</td>
          <td>{{exam.name}}</td>
          <td>{{exam.date | formatDate}}</td>
          <td>{{exam.time}}</td>
          <td>{{exam.classRoom}}</td>
          <td>{{exam.teacherName}}</td>
      </tr>
    </tbody>
  </table>
 </div>
</div>