<div class="row align-self-center informationDataDiv">
  <div class="col-lg-12">
      <h3>Student data</h3>
      <div class="breakLine"></div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Firstname: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{student.firstname}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Lastname: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{student.lastname}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>E-mail address:: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{student.email}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Address: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{student.address}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Date of Birth: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{student.birthday}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
    <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <p>Card number: </p>
        </div>
        <div class="col-lg-9">
            <h5>{{student.cardNumber}}</h5>
        </div>
    </div>
</div>
</div>
<div class="row informationDataDiv">
  <div class="col-lg-12">
      <h3>Information on payment type</h3>
      <div class="breakLine"></div>
  </div>
  <div class="col-12">
      <div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Model Number: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{student.modelNumber}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12">
      <div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Personal reference number: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{student.accountNumber}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12">
      <div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Account balance: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{student.balance}}</h5>
          </div>
      </div>
  </div>
</div>

<div class="row informationDataDiv">
    <div class="col-lg-12">
        <h3>Payments</h3>
        <div class="breakLine"></div>
    </div>
    <div class="col-12">
        <div class="row justify-content-center">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr align="center">
                        <th>Description</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr> 
                </thead>
                <tbody *ngFor="let payment of student.payments ">
                    <tr align="center">
                        <td>{{payment.description}}</td>
                        <td>{{payment.date | formatDate}}</td>
                        <td>{{payment.amount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row align-self-center informationDataDiv">
  <div class="col-lg-12">
      <h3>Study information</h3>
      <div class="breakLine"></div>
  </div>
  <div class="col-12">
    <div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Study program: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{student.courseAttendingDTO.studyProgramName}}</h5>
          </div>
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Date of enrollment to course: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{student.courseAttendingDTO.dateOfEnrollment | formatDate}}</h5>
          </div>
      </div>
  </div>
</div>