<h2>List of active exams: </h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <table class="table table-bordered table-hover" >
        <thead class="thead-light">
          <tr align="center">
              <th><i class="fas fa-cog"></i></th>
              <th>Subject</th>
              <th>Date</th>
              <th>Time</th>
              <th>Classroom</th>
          </tr> 
        </thead>
        <tbody *ngFor="let x of exams">
          <tr align="center">
              <td>
                  <button type="button" (click)="updateSelectedE(x)" class="btn"><i class="far fa-edit"></i></button>
                  <button type="button" (click)="deleteExam(x.id)" class="btn"><i class="far fa-trash-alt"></i></button>
              </td>
              <td>{{x.subjectName}}</td>
              <td>{{x.date | formatDate}}</td>
              <td>{{x.time}}</td>
              <td>{{x.classRoom}}</td>
          </tr>
        </tbody>
      </table>
      <div id="paginationDiv">
          <button type="button" class="btn btn-success" style="float: left" (click)="toggle()">Add Exam</button>

          <ul class="pagination" id="paginationUl">
              <li *ngIf="isFirst === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page - 1)">Previous</span></li>
              
              <li *ngFor="let number of totalPageNumber" class="page-item" [ngClass]="{'page-item active' : number==page }">
                  <span class="page-link" (click)="paginationUpdate(number)">{{number}}</span>
              </li>
             
              <li *ngIf="isLast === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page + 1)">Next</span></li>
          </ul>
      </div>
    </div>
  </div>
</div>
<app-exam-add *ngIf="isViewable" [selectedExam]="selectedExam"></app-exam-add>