<ul class="pagination justify-content-end" style="margin:20px 0">
    <li *ngIf="isFirst === false" class="page-item"><span class="page-link" (click)="updateItems(page - 1)">Previous</span></li>

    <li *ngFor="let number of totalPageNumber" class="page-item" [ngClass]="{'page-item active' : number==page }">
        <span class="page-link" (click)="updateItems(number)">{{number}}</span>
    </li>

    <li *ngIf="isLast === false" class="page-item"><span class="page-link" (click)="updateItems(page + 1)">Next</span></li>
</ul>