<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label class="col-md-4">First name: </label>
              <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" required />
            </div>
            <div class="form-group">
              <label class="col-md-4">Last name: </label>
              <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName" required />
            </div>
            <div class="form-group">
                <label class="col-md-4">Address: </label>
                <input type="text" class="form-control" [(ngModel)]="address" name="address" required />
              </div>
            <div class="form-group">
                <label class="col-md-4">Birthday: </label>
                <input type="datetime-local" class="form-control" [(ngModel)]="birthday" name="birthday" required />
              </div>
            <div class="form-group">
              <label class="col-md-4">Username: </label>
              <input type="text" class="form-control" [(ngModel)]="username" name="username" required />
            </div>
            <div class="form-group">
                <label class="col-md-4">Password: </label>
                <input type="password" class="form-control" [(ngModel)]="password" name="password" required />
              </div>
            <div class="form-group">
              <label class="col-md-4">Email: </label>
              <input type="text" class="form-control" [(ngModel)]="email" name="email" required />
            </div> 
            <label class="col-md-4">Type:</label>
            <div class="form-group">
                <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio" [(ngModel)]="options" [value]="true" [checked]="options">Student
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio" [(ngModel)]="options" [value]="false" [checked]="!options">Teacher
                    </label>
                  </div>
            </div>

            <!-- STUDENT ADD FORM -->
            <div *ngIf="options">
                <form>
                    <div class="form-group">
                      <label class="col-md-4">Card Number: </label>
                      <input type="text" class="form-control" [(ngModel)]="cardNumber" name="cardNumber" required />
                    </div>
                    <div class="form-group">
                      <label class="col-md-4">Account Number: </label>
                      <input type="text" class="form-control" [(ngModel)]="accountNumber" name="accountNumber" required />
                    </div>
                    <div class="form-group">
                      <label class="col-md-4">Balance: </label>
                      <input type="text" class="form-control" [(ngModel)]="balance" name="balance" required />
                    </div>
                    <div class="form-group">
                      <label class="col-md-4">Model Number: </label>
                      <input type="text" class="form-control" [(ngModel)]="modelNumber" name="modelNumber" required />
                    </div>
                    <div class="form-group">
                      <label class="col-md-4">Study Program: </label>
                      <br>
                      <select name="studyProgram" [(ngModel)]="selectedStudyProgram">
                        <option id="id123" *ngFor="let y of studyPrograms" [ngValue]="y.id">{{y.name}}</option>
                      </select>
                    </div>
                    <!-- <div class="form-group">
                      <button type="submit" class="btn btn-primary" style="float: left" (click)="addStudent(cardNumber, accountNumber, balance, studyProgram)">Add Student</button>
                      <button type="button" class="btn btn-secondary" style="float: right" (click)="toggleForm()">Cancel</button>
                    </div> -->
                  </form>
            </div>

            <!-- TEACHER ADD FORM -->
            <div *ngIf="!options">
                <form>
                    <!-- <div class="form-group">
                      <label class="col-md-4">User</label>
                      <select name="user" [(ngModel)]="selectedUser">
                          <option *ngFor="let user of users" [ngValue]="user.id">{{user.firstname}} {{user.lastname}}</option>
                      </select>
                    </div> -->
                    <div class="form-group">
                      <label class="col-md-4">Teacher Types </label>
                      <select name="teacherTypes" [(ngModel)]="selectedTeacherType">
                          <option *ngFor="let type of teacherTypes" [ngValue]="type.id">{{type.name}}</option>
                      </select>
                    </div>
                    
                  </form>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <div class="form-group">
            <button type="submit" class="btn btn-primary" style="float: left" (click)="addAll()">Add User</button>
            <button type="button" class="btn btn-secondary" style="float: right" (click)="toggleForm()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>