<div class="col-sm">
  <br>
  <div class="container" *ngFor="let exams of examRegistrations">
  <h2>{{exams.examinationPeriod}}</h2>
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr align="center">
          <th>Subject code</th>
          <th>Subject name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Class room</th>
          <th>Teacher</th>
          <th>Cost</th>
          <th>Register</th>
        </tr> 
      </thead>
      <tbody *ngFor="let exam of exams.subjects">
        <tr align="center">
          <td>{{exam.subjectCode}}</td>
          <td>{{exam.name}}</td>
          <td>{{exam.date | formatDate}}</td>
          <td>{{exam.time}}</td>
          <td>{{exam.classRoom}}</td>
          <td>{{exam.teacherName}}</td>
          <td>200</td>
          <td *ngIf="exam.register == 'Available'" id="td{{exam.examId}}"><button id="btn{{exam.examId}}" (click)='registerExam(exam.examId)'>Register</button></td>
          <td *ngIf="exam.register == 'AlreadyRegistered'">U have already registere this exam</td>
          <td *ngIf="exam.register == 'NotAvailable'">You can't register this exam</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>Balance: {{studentBalance}}</p>
</div>