<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="col-md-4">Name: </label>
                <input type="text" class="form-control" [(ngModel)]="name" name="name" required />
              </div>
              <div class="form-group">
                <label class="col-md-4">Duration: </label>
                <input type="number" class="form-control" [(ngModel)]="duration" name="duration" required />
              </div>
              <div class="form-group">
                <label class="col-md-4">Course type: </label>
                <br>
                <select name="courseTypes" [(ngModel)]="selectedCourseType">
                  <option *ngFor="let courseType of courseTypes; let i = index" id="courseType.id" [attr.value]="courseType.name" [attr.selected]="courseType.name === selectedCourseType ? true : null">{{courseType.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" style="float: left" (click)="addStudent()">{{isAddOperation ? "Add" : "Update"}} Study Program</button>
                <button type="button" class="btn btn-secondary" style="float: right" (click)="toggleForm()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>