<h2>List of active students: </h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <div class="card">
      <div class="card-body">
      <table class="table table-bordered table-hover" id="student-table">
        <thead class="thead-light">
          <tr align="center">
              <th><i class="fas fa-cog"></i></th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Card Number</th>
              <th>Payments</th>
          </tr> 
        </thead>
        <tbody *ngFor="let x of students">
          <tr align="center" id="tr_{{x.id}}">
              <td>
                  <button type="button" (click)="editStudent(x)" class="btn"><i class="far fa-edit"></i></button>
                  <button type="button" (click)="deleteStudent(x.id)" class="btn"><i class="far fa-trash-alt"></i></button>
              </td>
              <td>{{x.firstname}}</td>
              <td>{{x.lastname}}</td>
              <td>{{x.email}}</td>
              <td>{{x.cardNumber}}</td>
              <td><button class="btn" type="button"><a href="student-payments/{{x.id}}">Payments</a></button></td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class="card-footer">
      <div>
          
          <ul class="pagination justify-content-end" style="margin:20px 0">
              <li *ngIf="isFirst === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page - 1)">Previous</span></li>
              
              <li *ngFor="let number of totalPageNumber" class="page-item" [ngClass]="{'page-item active' : number==page }">
                  <span class="page-link" (click)="paginationUpdate(number)">{{number}}</span>
              </li>
             
              <li *ngIf="isLast === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page + 1)">Next</span></li>
          </ul>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
<br>