<div class="col-sm">
  <h2>Remaining Courses</h2>
  <br>
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr align="center">
          <th>Study program</th>
          <th>Subject name</th>
          <th>Teacher</th>
      </tr> 
    </thead>
    <tbody *ngFor="let subject of subjects">
      <tr align="center">
          <td>{{subject.studyProgram}}</td>
          <td>{{subject.subjectName}}</td>
          <td>{{subject.teacherName}}</td>
      </tr>
    </tbody>
  </table>
</div>