<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label class="col-md-4">Name of course type: </label>
              <input type="text" class="form-control" [(ngModel)]="name" name="name" required />
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="form-group">
            <button type="submit" class="btn btn-primary" style="float: left" (click)="add()">{{isAddOperation ? "Add" : "Update"}}</button>
            <button type="button" class="btn btn-secondary" style="float: right" (click)="toggleForm()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>