<div class="col-sm">
  <h2>Passed exams</h2>
  <br>
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr align="center">
          <th>Subject name</th>
          <th>Date</th>
          <th>Teacher</th>
          <th>Points</th>
          <th>Grade</th>
      </tr> 
    </thead>
    <tbody *ngFor="let exam of exams">
      <tr align="center">
          <td>{{exam.subjectName}}</td>
          <td>{{exam.examDate | formatDate}}</td>
          <td>{{exam.teacherName}}</td>
          <td>{{exam.points}}</td>
          <td>{{exam.grade}}</td>
      </tr>
    </tbody>
  </table>
</div>
  <p>Average Grade: {{averageGrade}}</p>