<div class="row">
  <div class="col-12">
    <p>Firstname: {{user.firstname}}</p>
    <p>Lastname: {{user.lastname}}</p>
    <p>Birth day: {{user.birthday}}</p>
    <p>Address: {{user.address}}</p>
  </div>
</div>
