<h2>List of active admins: </h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <div class="card"> 
      <div class="card-body"> 
      <table class="table table-bordered table-hover" id="student-table">
        <thead class="thead-light">
          <tr align="center">
              <th><i class="fas fa-cog"></i></th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
          </tr> 
        </thead>
        <tbody *ngFor="let x of admins">
          <tr align="center">
              <td>
                  <button type="button" class="btn"><i class="far fa-edit"></i></button>
                  <button type="button" (click)="deleteAdmin(x.id)" class="btn"><i class="far fa-trash-alt"></i></button>
              </td>
              <td>{{x.firstname}}</td>
              <td>{{x.lastname}}</td>
              <td>{{x.email}}</td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="card-footer">
      <div>
          <button type="button" class="btn btn-success" style="float: left" (click)="toggle()">Add Admin</button>
          <ul class="pagination justify-content-end" style="margin:20px 0">
              <li *ngIf="isFirst === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page - 1)">Previous</span></li>
              
              <li *ngFor="let number of totalPageNumber" class="page-item" [ngClass]="{'page-item active' : number==page }">
                  <span class="page-link" (click)="paginationUpdate(number)">{{number}}</span>
              </li>
             
              <li *ngIf="isLast === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page + 1)">Next</span></li>
          </ul>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
<br>
<app-admin-add *ngIf="isViewable"></app-admin-add>