.informationDataDiv{
    border-radius: 10px;
    margin-bottom: 1.3em;
    padding:1em;
    background-color:#F2F2F2;
}
.breakLine{
    height: 0.2em;
    background-color: #5982ea;
    margin-bottom: 0.5em;
}