<div class="row align-self-center informationDataDiv">
  <div class="col-lg-12">
      <h3>Admin data</h3>
      <div class="breakLine"></div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Firstname: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{admin.firstname}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Lastname: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{admin.lastname}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>E-mail address:: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{admin.email}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Address: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{admin.address}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Date of Birth: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{admin.birthday}}</h5>
          </div>
      </div>
  </div>
  <button type="button" class="btn btn-info" (click)="edit(admin)">Edit info</button>
</div>
<app-admin-edit *ngIf="isViewable" [selectedAdmin]="selectedAdmin"></app-admin-edit>