<h2>List of Documents: </h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <table class="table table-bordered table-hover" id="student-table">
        <thead class="thead-light">
          <tr align="center">
              <th><i class="fas fa-cog"></i></th>
              <th>Name</th>
              <th>Download</th>

          </tr>
        </thead>
        <tbody *ngFor="let document of documents">
          <tr align="center">
              <td>
                  <button type="button" (click)="deleteDocument(document.id)" class="btn"><i class="far fa-trash-alt"></i></button>
              </td>
              <td>{{document.name}}</td>
              <td><button (click)="downloadDocument(document.id)">Download</button></td>

          </tr>
        </tbody>
      </table>
      <div>
          <!-- <button type="button" class="btn btn-success" style="float: left" (click)="toggle()">Add document</button> -->
      </div>
    </div>
  </div>
</div>
<!-- <app-documents-add *ngIf="isViewable"></app-documents-add> -->