<h2>List of Examination Periods: </h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr align="center">
              <th><i class="fas fa-cog"></i></th>
              <th>Name</th>
              <th>Start Date</th>
              <th>End Date</th>
          </tr> 
        </thead>
        <tbody *ngFor="let x of examPeriods">
          <tr align="center">
              <td>
                  <button type="button" (click)="updateSelectedEP(x)" class="btn"><i class="far fa-edit"></i></button>
                  <button type="button" (click)="deleteExamPeriod(x.id)" class="btn"><i class="far fa-trash-alt"></i></button>
              </td>
              <td>{{x.name}}</td>
              <td>{{x.startDate | formatDate}}</td>
              <td>{{x.endDate | formatDate}}</td>
          </tr>
        </tbody>
      </table>
      <div>
          <button type="button" class="btn btn-success" style="float: left" (click)="toggle()">Add Exam Period</button>

          <ul class="pagination justify-content-end" style="margin:20px 0">
              <li *ngIf="isFirst === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page - 1)">Previous</span></li>
              
              <li *ngFor="let number of totalPageNumber" class="page-item" [ngClass]="{'page-item active' : number==page }">
                  <span class="page-link" (click)="paginationUpdate(number)">{{number}}</span>
              </li>
             
              <li *ngIf="isLast === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page + 1)">Next</span></li>
          </ul>
      </div>
    </div>
  </div>
</div>
<examination-period-add *ngIf="isViewable" [selectedExamPeriod]="selectedExamPeriod"></examination-period-add>