<div class="row align-self-center informationDataDiv">
  <div class="col-lg-12">
      <h3>Teacher data</h3>
      <div class="breakLine"></div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Firstname: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{teacher.firstname}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Lastname: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{teacher.lastname}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>E-mail address:: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{teacher.email}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Address: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{teacher.address}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Date of Birth: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{teacher.birthday}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Teacher code: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{teacher.teacherCode}}</h5>
          </div>
      </div>
  </div>
  <div class="col-12"><div class="row">
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p>Teacher type: </p>
          </div>
          <div class="col-lg-9">
              <h5>{{teacher.teacherType}}</h5>
          </div>
      </div>
  </div>
  <button type="button" class="btn btn-info" (click)="edit(teacher)">Edit info</button>
</div>

<app-teachers-add *ngIf="isViewable" [selectedTeacher]="selectedTeacher"></app-teachers-add>

<div class="row align-self-center informationDataDiv">
  <div class="col-lg-12">
      <h3>Subjects information</h3>
      <div class="breakLine"></div>
  </div>
  <div class="col-12">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr align="center">
            <th>Subject code</th>
            <th>Subject name</th>
        </tr> 
      </thead>
      <tbody *ngFor="let subject of teacher.subjectsDTO ">
        <tr align="center">
            <td>{{subject.subjectCode}}</td>
            <td>{{subject.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>