<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" *ngIf="administrator || teacher || student">
  <!-- <div class="container" style="margin: 0%; padding: 0;"> -->
    <a class="navbar-brand" href="#">Student Service</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="administrator">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item" *ngIf="administrator">
        <a class="nav-link" href="/administrators">Administrators</a>
      </li>
      <li class="nav-item" *ngIf="administrator">
        <a class="nav-link" href="/students">Students</a>
      </li>
      <li class="nav-item" *ngIf="administrator">
        <a class="nav-link" href="/teachers">Teachers</a>
      </li>
      <li class="nav-item" *ngIf="administrator">
        <a class="nav-link" href="/study-programs">Courses</a>
      </li>
      <li class="nav-item" *ngIf="administrator">
        <a class="nav-link" href="/exam-period">Examination Period</a>
      </li>
      <li class="nav-item" *ngIf="administrator">
        <a class="nav-link" href="/exams">Exams</a>
      </li>
      <li class="nav-item" *ngIf="administrator">
        <a class="nav-link" href="/course-types">Course Types</a>
      </li>
      <li class="nav-item" *ngIf="administrator">
          <a class="nav-link" href="/administrator-profile">Basic informations</a>
      </li>

      <li class="nav-item" *ngIf="teacher">
        <a class="nav-link" href="/teacher-profile">Basic informations</a>
      </li>
      <li class="nav-item" *ngIf="teacher">
        <a class="nav-link" href="/teacher-exams">All exams</a>
      </li>
      <li class="nav-item" *ngIf="teacher">
          <a class="nav-link" href="/teacher-current-exams">Current exams</a>
      </li>
      
      <li class="nav-item" *ngIf="student">
        <a class="nav-link" href="/student-profile">Basic informations</a>
      </li>
      <li class="nav-item" *ngIf="student">
        <a class="nav-link" href="/passed-exams">Exams passed</a>
      </li>
      <li class="nav-item" *ngIf="student">
          <a class="nav-link" href="/remaining-courses">Remaining courses (flunk)</a>
      </li>
      <li class="nav-item" *ngIf="student">
        <a class="nav-link" href="/student-exam-history">Exam history</a>
      </li>
      <li class="nav-item" *ngIf="student">
        <a class="nav-link" href="/student-exam-registration">Exam registration</a>
      </li>
      <li class="nav-item" *ngIf="student">
          <a class="nav-link" href="/student-registered-exams">Registered exams</a>
      </li>
      <li class="nav-item" *ngIf="student">
        <a class="nav-link" href="/student-documents">Manage documents</a>
      </li>

      <li class="nav-item" *ngIf="administrator || teacher || student">
        <button class="btn btn-default" id="btnLogout" (click)="logout()">logout</button>
      </li>
    </ul>
    <div class="btn-group" *ngIf='administrator'>
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Menu
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="administrator-profile">Basic informations</a></button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="/users">All users</a></button>
            <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="/administrators">Administrators</a></button>
            <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="/teachers">Teachers</a></button>
            <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="/students">Students</a></button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="/study-programs">Courses</a></button>
            <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="/exam-period">Examination period</a></button>
            <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="/exams">Exams</a></button>
            <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="/course-types">Course type</a></button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
        </div>
      </div>
    <div class="btn-group" *ngIf='teacher'>
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Menu
      </button>
      <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="teacher-profile">Basic informations</a></button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="teacher-exams">All exams</a></button>
          <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="teacher-current-exams">Current exams</a></button>
          <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
      </div>
    </div>
    <div class="btn-group" *ngIf='student'>
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Menu
      </button>
      <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="student-profile">Basic informations</a></button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="passed-exams">Exams passed</a></button>
          <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="remaining-courses">Remaining courses (flunk)</a></button>
          <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="student-exam-history">Exam history</a></button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="student-exam-registration">Exam registration</a></button>
          <button class="dropdown-item" type="button"><a class="dropdownAnchor" href="student-registered-exams">Registered exams</a></button>
          <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
      </div>
    </div>
  <!-- </div> -->
</nav>
<div class="rootDiv">
    <router-outlet></router-outlet>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>