.rootDiv{
    margin:5em auto 2em auto;
    width: 80%;
    text-align: center;
}
.dropdownAnchor:link, .dropdownAnchor:active, .dropdownAnchor{
    text-decoration: none;
    color:black
}
#btnLogout{
    color:#CCCDCF;
}
#btnLogout:hover{
    color:#CCCDCF;
}