<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label class="col-md-4">Name </label>
              <input type="text" class="form-control" [(ngModel)]="name" name="name" required />
            </div>
            <div class="form-group">
              <label class="col-md-4">Start Date</label>
              <input type="datetime" class="form-control" [(ngModel)]="startDate" name="startDate" required />
            </div>
            <div class="form-group">
              <label class="col-md-4">End Date: </label>
              <input type="datetime" ui-date="dateOptions" class="form-control" [(ngModel)]="endDate" name="endDate" required />
            </div>
            <div class="form-group">
              <label class="col-md-4">Exams: </label>
              <br>
              <select name="exam" [(ngModel)]="selectedExams" id="examsSelect" multiple>
                <option id="id123" *ngFor="let y of exams" [ngValue]="y.id">{{y.subject.name}}, {{y.date | formatDate}}</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" style="float: left" (click)="addExamPeriod()">{{buttonText}} Exam Period</button>
              <button type="button" class="btn btn-secondary" style="float: right" (click)="toggleForm()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>