<h2>List of course types: </h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <div class="card">
      <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr align="center">
              <th><i class="fas fa-cog"></i></th>
              <th>Id</th>
              <th>Name</th>
          </tr> 
        </thead>
        <tbody *ngFor="let x of courseTypes">
          <tr align="center">
              <td>
                  <button type="button" (click)="editCourseType(x)" class="btn"><i class="far fa-edit"></i></button>
                  <button type="button" (click)="deleteCourseType(x.id)" class="btn"><i class="far fa-trash-alt"></i></button>
              </td>
              <td>{{x.id}}</td>
              <td>{{x.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div>
          <button type="button" class="btn btn-success" style="float: left" (click)="toggle()">Add Course Type</button>
          <ul class="pagination justify-content-end" style="margin:20px 0">
            <li *ngIf="isFirst === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page - 1)">Previous</span></li>
            
            <li *ngFor="let number of totalPageNumber" class="page-item" [ngClass]="{'page-item active' : number==page }">
                <span class="page-link" (click)="paginationUpdate(number)">{{number}}</span>
            </li>
           
            <li *ngIf="isLast === false" class="page-item"><span class="page-link" (click)="paginationUpdate(page + 1)">Next</span></li>
          </ul>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
<br>
<app-course-types-add *ngIf="isViewable" [selectedCourseType]="selectedCourseType"></app-course-types-add>