<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="col-md-4">Name: </label>
                <input type="text" class="form-control" [(ngModel)]="name" name="name" required />
              </div>
              <div class="form-group">
                <label for="file">Choose File</label>
                <input type="file" class="form-control" [(ngModel)]="file" name="file" (change)="handleFileInput($event.target.files)" required />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" style="float: left" (click)="uploadFile()">Add document</button>
                <button type="button" class="btn btn-secondary" style="float: right" (click)="toggleForm()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>