<h2>List of study programs: </h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <table class="table table-bordered table-hover" id="student-table">
        <thead class="thead-light">
          <tr align="center">
              <th><i class="fas fa-cog"></i></th>
              <th>Name</th>
              <th>Duration</th>
              <th>Course type</th>
              <th>Deleted</th>
          </tr>
        </thead>
        <tbody *ngFor="let studyProgram of studyPrograms">
          <tr align="center">
              <td>
                  <button type="button" (click)="update(studyProgram)" class="btn"><i class="far fa-edit"></i></button>
                  <button type="button" (click)="deleteStudyProgram(studyProgram.id)" class="btn"><i class="far fa-trash-alt"></i></button>
              </td>
              <td>{{studyProgram.name}}</td>
              <td>{{studyProgram.duration}}</td>
              <td>{{studyProgram.courseType.name}}</td>
              <td>{{studyProgram.deleted}}</td>

          </tr>
        </tbody>
      </table>
      <div>
          <button type="button" class="btn btn-success" style="float: left" (click)="toggle()">Add study program</button>
          <app-pagination (paginationUpdate)="paginationUpdate($event)" [paginationInfo]="paginationInfo"></app-pagination>
      </div>
    </div>
  </div>
</div>
<app-study-programs-add *ngIf="isViewable" [selectedStudyProgram]="selectedStudyProgram"></app-study-programs-add>