<div class="col-sm">
  <br>
 <div class="container">
   <h2>Current exams</h2>
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr align="center">
          <th>Subject name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Class  room</th>
          <th>Exam grades</th>
      </tr> 
    </thead>
    <tbody *ngFor="let exam of exams">
      <tr align="center">
          <td>{{exam.subjectName}}</td>
          <td>{{exam.date | formatDate}}</td>
          <td>{{exam.time}}</td>
          <td>{{exam.classRoom}}</td>
          <td *ngIf="exam.allowInsertGrades == true">
            <a href='teacher-exam-grades/{{exam.id}}'>
              <button  class="btn btn-primary">Exam grades</button>
            </a>
          </td>
          <td *ngIf="exam.allowInsertGrades == false">Exam has not yet passed</td>
      </tr>
    </tbody>
  </table>
 </div>
</div>