<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label class="col-md-4">Description: </label>
              <input type="text" class="form-control" [(ngModel)]="description" name="description" required />
            </div>
            <div class="form-group">
              <label class="col-md-4">Amount: </label>
              <input type="number" class="form-control" [(ngModel)]="amount" name="amount" required />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" style="float: left" (click)="addPayment()">Add Payment</button>
              <button type="button" class="btn btn-secondary" style="float: right" (click)="toggleForm()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>