<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="col-md-4">First name: </label>
                <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" required />
              </div>
              <div class="form-group">
                <label class="col-md-4">Last name: </label>
                <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName" required />
              </div>
              <div class="form-group">
                  <label class="col-md-4">Address: </label>
                  <input type="text" class="form-control" [(ngModel)]="address" name="address" required />
                </div>
              <div class="form-group">
                  <label class="col-md-4">Birthday: </label>
                  <input type="datetime-local" class="form-control" [(ngModel)]="birthday" name="birthday" required />
                </div>
              <div class="form-group">
                <label class="col-md-4">Username: </label>
                <input type="text" class="form-control" [(ngModel)]="username" name="username" required />
              </div>
              <div class="form-group">
                  <label class="col-md-4">Password: </label>
                  <input type="password" class="form-control" [(ngModel)]="password" name="password" required />
                </div>
              <div class="form-group">
                <label class="col-md-4">Email: </label>
                <input type="text" class="form-control" [(ngModel)]="email" name="email" required />
              </div> 
            </form>
          </div>
          <div class="card-footer">
            <div class="form-group">
              <button type="submit" class="btn btn-primary" style="float: left" (click)="add()">Add Admin</button>
              <button type="button" class="btn btn-secondary" style="float: right" (click)="toggleForm()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>