<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label class="col-md-4">Date </label>
              <input type="text" class="form-control" [(ngModel)]="date" name="date" required />
            </div>
            <div class="form-group">
              <label class="col-md-4">Time </label>
              <input type="text" class="form-control" [(ngModel)]="time" name="time" required />
            </div>
            <div class="form-group">
              <label class="col-md-4">Classroom: </label>
              <input type="text" class="form-control" [(ngModel)]="classRoom" name="classRoom" required />
            </div>
            <div class="form-group">
              <label class="col-md-4">Subject: </label>
              <br>
              <select name="subject" [(ngModel)]="selectedSubject">
                <option id="id123" *ngFor="let y of subjects" [ngValue]="y.id">{{y.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" style="float: left" (click)="addExam()">{{buttonText}} Exam</button>
              <button type="button" class="btn btn-secondary" style="float: right" (click)="toggleForm()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>