<div class="col-sm">
  <br>
 <div class="container">
   <h2>Exam grades for {{subjectName}}</h2>
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr align="center">
        <th>Student</th>
        <th>Points</th>
        <th>Grade</th>
      </tr> 
    </thead>
    <tbody *ngFor="let examGrade of examGrades">
      <tr align="center">
        <td>{{examGrade.studentName}}</td>
        <td><input [(ngModel)]="examGrade.points"></td>
        <td><input [(ngModel)]="examGrade.grade"></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="saveGrades()">Save grades</button>
 </div>
</div>