<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group" *ngIf="isAddOperation && isAdmin">
                <label class="col-md-4">Username: </label>
                <input type="text" class="form-control" [(ngModel)]="username" name="username" required />
              </div>
              <div class="form-group" *ngIf="isAddOperation && isAdmin">
                <label class="col-md-4">Password: </label>
                <input type="text" class="form-control" [(ngModel)]="password" name="password" required />
              </div>
              <div class="form-group">
                  <label class="col-md-4">First name: </label>
                  <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" required />
                </div>
                <div class="form-group">
                  <label class="col-md-4">Last name: </label>
                  <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName" required />
                </div>
                <div class="form-group">
                  <label class="col-md-4">Email: </label>
                  <input type="text" class="form-control" [(ngModel)]="email" name="email" required />
                </div>
                <div class="form-group">
                  <label class="col-md-4">Address: </label>
                  <input type="text" class="form-control" [(ngModel)]="address" name="address" required />
                </div>
                <div class="form-group" *ngIf="isAddOperation && isAdmin">
                  <label class="col-md-4">Birthday: </label>
                  <input type="datetime-local" class="form-control" [(ngModel)]="birthday" name="birthday" required />
                </div>
              <div class="form-group" *ngIf="isAdmin">
                <label class="col-md-4">Card number: </label>
                <input type="text" class="form-control" [(ngModel)]="cardNumber" name="cardNumber" required />
              </div>
              <div class="form-group" *ngIf="isAdmin">
                <label class="col-md-4">Account number: </label>
                <input type="text" class="form-control" [(ngModel)]="accountNumber" name="accountNumber" required />
              </div>
              <div class="form-group" *ngIf="isAdmin">
                <label class="col-md-4">Balance: </label>
                <input type="text" class="form-control" [(ngModel)]="balance" name="balance" required />
              </div>
              <div class="form-group" *ngIf="isAdmin">
                <label class="col-md-4">Model Number: </label>
                <input type="text" class="form-control" [(ngModel)]="modelNumber" name="modelNumber" required />
              </div>
              <div class="form-group" *ngIf="isAdmin">
                <label class="col-md-4">Study Program: </label>
                <br>
                <select name="studyProgram" [(ngModel)]="selectedStudyProgram">
                  <option id="123" *ngFor="let y of studyPrograms" [ngValue]="y.id" [attr.value]="y.name" [attr.selected]="y.name === selectedCourseType ? true : null">{{y.name}}</option>
                </select>
              </div>
            </form>
          </div>
          <div class="card-footer">
              <div class="form-group">
                <button type="submit" class="btn btn-success" style="float: left" (click)="editStudent()">{{isAddOperation ? "Add" : "Update"}} Student</button>
                <button type="button" class="btn btn-secondary" style="float: right" (click)="toggleForm()">Cancel</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>